body {
    font-family: 'Euclid Circular A', sans-serif;
    color: #001819;
    background: #F4F8F9;
    font-size: 14px;
}

a, a:hover, a:focus, button, path, body {
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

button, button:focus {
    cursor: pointer;
    outline: none;
}

.m-0, label {
    margin: 0;
}

a, a:hover, a:focus, button, path {
    text-decoration: none;
    color: #001819;
}

.btn-transparent, .btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    box-shadow: none;
}

button:focus {
    outline: none;
}

.btn-previous, .btn-previous:hover, .btn-previous:active, .btn-previous:focus {
    font-size: 16px;
    color: #193651;
}

.flex, .flex-start, .flex-vertical-center, .flex-end, .flex-vertical-start {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-vertical-start {
    justify-content: flex-start;
    align-items: center;
}

.flex-center, .input-title.flex-center {
    display: flex;
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-vertical-center {
    justify-content: center;
}

.relative, .lang li, label {
    position: relative;
}

label, .react-time-picker {
    width: 100%;
}

.form-label {
    margin: 0;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
}

.input-title {
    font-weight: 600;
    color: rgba(24, 24, 24, 0.9);
    opacity: 0.7;
    margin-bottom: 6px;
    text-align: left;
    display: block;
}

.form-control, .form-control:focus, .react-datepicker__input-container input, .react-time-picker__wrapper {
    background-color: #FAFCFF;
    border: 1px solid rgba(4, 6, 71, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    height: 42px;
    outline: none;
    box-shadow: none;
    padding: 10px 12px;
    font-size: 14px;
    color: #191919;
    width: 100%;
}

.form-control:disabled, .form-control[readonly], .react-datepicker-wrapper input[type="text"]:disabled {
    background-color: rgba(233, 236, 239, .66);
    opacity: 1;
}

.form-control:-webkit-autofill {
    border-color: rgba(4, 6, 71, 0.1);
    -webkit-box-shadow: 0 0 0 30px white inset
}

.validate .form-control, .validate .form-control:focus {
    border-color: #D42705;
}

.form-control:focus {
    border-color: rgba(4, 6, 71, 0.7);
}

.text-validation {
    color: #D42705;
    font-size: 14px;
    text-align: left;
    display: inline-block;
    margin: 4px 5px 0 0;
}

.form-control::placeholder {
    color: hsl(0, 0%, 50%);
    font-size: 14px;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group .btn-transparent {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    line-height: 0;
}

.form-group .btn-transparent svg {
    margin: 0;
}

.btn-effect, .btn-effect:hover, .btn-effect:focus, .btn-border, .btn-main, .btn-green-border {
    background: #2ED06A;
    border: none;
    border-radius: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    outline: none;
    box-shadow: none;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.btn-border, .btn-border:hover, .btn-border:focus {
    background: transparent;
    border-radius: 4px;
    border: 1px solid #E6E8E8;
    color: #193651;
}

.btn-green-border, .btn-green-border:focus, .btn-green-border:hover {
    background: transparent;
    border-radius: 4px;
    border: 1px solid #2ED06A;
    color: #2ED06A;
}

.btn-main, .btn-main:hover, .btn-main:focus {
    background-color: rgba(48, 131, 220, .8);
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
}

.btn-border svg, .btn-main svg, .btn-transparent svg {
    margin-right: 10px;
}

.check-button {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 14px;
    transition: ease-in .05s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
    height: 20px;
}

.check-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.check-button .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #193651cc;
    border-radius: 4px;
    background: transparent;
    transition: ease-in .05s;
}

.check-button .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-block {
    margin-right: 10px;
    line-height: 0;
}

.check-button input:checked ~ .checkmark:after {
    display: block;
}

.check-button input:checked ~ .checkmark {
    background-color: #193651cc;
    border-color: rgba(25, 54, 81, .0);
}

.check-button .checkmark:after {
    left: 6px;
    bottom: 5px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(37deg);
}

.radio-block {
    display: flex;
    align-items: center;
    color: rgba(24, 24, 24, 0.9);
    font-size: 16px;
    margin-right: 40px;
}

.radio-content h5 {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}

.radio-label {
    width: 20px;
    height: 20px;
}

.radio-title {
    margin-left: 15px;
    display: inline-block;
}

.radio-block input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.radio-mark {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #193651cc;
    cursor: pointer;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-mark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-block input:checked ~ .radio-mark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-block .radio-mark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #193651cc;
}

.login .right {
    background-color: rgba(237, 239, 246, .4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .logo img {
    width: 75%;
}

.btn-gray {
    background: rgba(4, 6, 71, 0.04);
    border-radius: 4px;
    height: 36px;
    width: 76px;
    color: rgba(4, 6, 71, .9);
    font-weight: 500;
}

.btn-gray svg {
    margin-right: 8px;
}

.login .left {
    padding: 75px 0;
    position: relative;
    height: 100vh;
    text-align: left;
}

.login .left:before {
    content: '';
    background: url('../img/bg.svg') no-repeat left bottom;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.login .right h2 {
    font-weight: 600;
    font-size: 36px;
    color: #040647;
    margin-bottom: 35px;
}

.login .login-right-body {
    width: 100%;
}

.login .right .form-list {
    padding: 30px 0;
}

.login .short-desc {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: rgba(4, 6, 71, 0.8);
    padding-top: 60px;
}

.login .socials li .btn-effect {
    background: #FFFFFF;
    box-shadow: 0 0 4px rgba(4, 6, 71, .01);
    border-radius: 2px;
    font-weight: 500;
    font-size: 16px;
    color: #181818;
    margin-bottom: 15px;
}

.login .or {
    padding: 20px 0;
    color: #181818;
    font-size: 16px;
}

.login .socials li:last-child .btn-effect {
    background: #3B5999;
    color: #FFFFFF;
}

.login .socials li span:before {
    content: url("../img/google.svg");
    margin-right: 30px;
}

.login .socials li:last-child span:before {
    content: url("../img/fb.svg");
}

.login .our-customers li, .login .our-customers li img {
    width: 100%;
}

.login .our-customers li:not(:last-child) {
    padding-right: 30px;
}

.login .our-customers p {
    color: #040647;
    opacity: 0.7;
}

.login .logo img {
    width: 25%;
}

.header {
    padding: 10px 25px;
    background: #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.img-block {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.user-logout .img-block {
    margin-left: 30px;
    border: 1px solid #040647;
}

.img-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notification .btn .badge {
    background-color: #040647;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    position: absolute;
    right: -2px;
    top: -2px;
}

.notification .btn-transparent svg {
    margin: 0;
}

.dropdown-menu {
    box-shadow: 0 0 6px rgba(24, 24, 24, .08);
    border-radius: 4px;
    border: none;
    padding: 0;
    min-width: 155px;
    /*top: 12px !important;*/
}

.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary,
.btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
    background-color: transparent;
    box-shadow: none !important;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
    box-shadow: none !important;
}

.dropdown-toggle::after {
    content: unset;
}

.dropdown-item {
    font-size: 20px;
    text-align: center;
    color: #193651;
    padding: 10px;
}

.sidebar {
    position: fixed;
    height: calc(100vh - 80px);
    background: #FFFFFF;
    bottom: 0;
    width: 172px;
    padding: 40px 10px;
    transition: transform 0.3s ease-out;
}

.sidebar .nav {
    flex-direction: column;
}

.sidebar.active span {
    display: none;
}

.sidebar.active .trapezium .btn-transparent svg {
    transform: rotate(180deg);
}

.sidebar.active .nav-pills .nav-link svg {
    margin: 0;
}

.sidebar.active {
    width: 70px;
}

.sidebar.active .nav-pills .nav-link {
    justify-content: center;
}

.nav-pills .nav-link {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #193651;
    cursor: pointer;
}

.nav-pills .nav-link svg, .user-logout svg {
    margin-right: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #3083DC;
    border-radius: 4px;
}

.nav-pills .nav-link.active svg path, .nav-pills .show > .nav-link svg path {
    fill: #FFFFFF;
}

.trapezium {
    position: absolute;
    right: -19px;
}

.trapezium button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.block {
    background: #FFFFFF;
    border-radius: 6px;
}

.main {
    padding: 125px 25px 50px 200px;
}

.main.active {
    padding: 125px 25px 50px 100px;
}

.table > :not(caption) > * > * {
    border: none;
    padding: 13px 30px 13px 30px;
    background-color: #FFFFFF;
    text-align: left;
    vertical-align: middle;
}

.table > :not(:first-child) {
    border: none;
}

.table-hover > tbody > tr {
    color: #193651;
    cursor: pointer;
}

.table-hover > tbody > tr:hover {
    --bs-table-hover-bg: rgba(48, 131, 220, 0.06);
}

.table-hover > tbody > tr.disabled {
    cursor: auto;
}

.table th {
    letter-spacing: 0.03em;
    color: rgba(25, 54, 81, 0.6);
    font-weight: 600;
    padding: 20px 30px 20px 30px;
}

td {
    color: #193651;
    font-size: 16px;
}

.staff .block {
    padding-bottom: 40px;
    min-height: 400px;
}

.staff .btn-main {
    width: 120px;
}

.pagination-block .sr-only {
    display: none;
}

.pagination-block {
    padding: 40px;
}

.page-link,
.page-link:hover, .page-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #2A3B8F;
    border-radius: 4px;
    border: 1px solid #DFE3E8;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: none;
    cursor: pointer;
}

.page-item {
    margin-right: 8px;
}

.page-item.disabled .page-link {
    background-color: rgba(25, 54, 81, 0.1);
}

.page-item.active .page-link {
    background-color: #FFFFFF;
    color: #2A3B8F;
    border-color: #040647;
}

.notification .img-block {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.notification .dropdown-item {
    display: flex;
    align-items: flex-start;
}

.notification .dropdown-item .notify-title {
    font-size: 14px;
    font-weight: 500;
    color: #475a80;
    margin-bottom: 9px;
}

.notification .dropdown-item .notify-text {
    opacity: 0.7;
    font-size: 12px;
    color: #475a80;
    margin-bottom: 8px;
}

.notification .dropdown-item .date {
    opacity: 0.3;
    font-size: 10px;
    color: #475a80;
}

.notification .dropdown-item {
    margin-bottom: 22px;
    text-align: left;
    min-width: 300px;
    white-space: unset;
}

.notification .notify-content {
    width: calc(100% - 45px);
}

.title-block {
    margin-bottom: 25px;
}

.title {
    font-size: 24px;
    color: #040647;
    font-weight: 500;
}

.title svg {
    margin-right: 10px;
}

.title-block button {
    width: 150px;
}

.title-block button:not(:last-child) {
    margin-right: 20px;
}

.create-staff .block {
    padding: 20px 20px 40px;
}

.create-staff .btn-effect {
    width: 205px;
}

.create-staff .btn-block li:not(:last-child) {
    margin-right: 30px;
}

.block-title {
    font-weight: 500;
    font-size: 18px;
    color: #193651;
    margin-bottom: 15px;
    text-align: left;
}

.block-inn {
    margin-bottom: 10px;
}

.nav-tabs {
    border-bottom: 3px solid rgba(24, 54, 81, .1);
    margin-bottom: 25px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #3083DC;
    background-color: transparent;
    font-weight: 500;
    border-bottom: 3px solid #599CE3;
}

.nav-tabs .nav-link {
    margin-bottom: -3px;
    border-width: 0 0 2px 0;
    color: #193651;
    font-size: 16px;
    margin-right: 40px;
    padding: 10px 0;
}

.nav-tabs .nav-link.disabled {
    color: #7d868e;
}

.block-inn .btn-main {
    width: 120px;
    margin-top: -10px;
}

.block-inn textarea.form-control {
    height: 60px;
}

.block-item .img-block {
    background: #C4C4C4;
    border-radius: 6px;
    width: 70px;
    height: 65px;
    cursor: pointer;
}

.block-list {
    display: flex;
    flex-wrap: wrap;
}

.block-list .block-item {
    width: calc((100% / 4) - 15px);
    margin: 0 20px 20px 0;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px 20px 30px;
    text-align: left;
    color: #193651;
}

.block-list .block-item:nth-child(4n) {
    margin-right: 0;
}

.block-item .block-item-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 0 10px;
}

.block-item .block-item-top .btn-transparent svg {
    margin: 0;
}

.block-item .profession {
    font-size: 16px;
}

.block-item .profession p:first-child, .block-item .profession p:nth-child(2) {
    opacity: .85;
}

.block-item .profession p:last-child {
    opacity: .65;
}

.block-item .block-user-name {
    font-size: 16px;
    color: #193651;
    cursor: pointer;
    display: flex;
}

.block-item .block-user-name .in, .block-item .block-user-name .out, .block-item .block-user-name .new {
    font-weight: 500;
    color: #2ED06A;
    margin-left: 10px;
}

.block-item .block-user-name .out {
    color: #DC2419;
}

.block-item .block-user-name .new {
    color: #3083dc;
}

.input-group .input-add {
    width: 90px;
}

.input-group .form-control, .input-group .form-control:focus {
    width: calc(100% - 90px);
}

.upload-img {
    border: 1px solid rgba(25, 54, 81, 0.2);
    width: 75px;
    height: 75px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.upload-content {
    margin-bottom: 20px;
}

.upload-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-content input {
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    cursor: pointer;
}

.upload-content .add-img, .upload-content .add-img.btn-transparent:active {
    color: #3083DC;
    position: relative;
    border: 1px solid #3083DC;
}

.upload-content .remove-img {
    color: #193651;
    opacity: 0.6;
    background-color: transparent;
    border: 1px solid rgba(25, 54, 81, .3);

}

.upload-content .btn-block {
    margin-left: 40px;
}

.upload-content .btn-block .btn-border {
    width: 125px;
    font-size: 16px;
    margin-right: 40px;
    cursor: pointer;
}

.input-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.add-item {
    border-top: 1px solid rgba(4, 6, 71, 0.08);
    margin-top: 5px;
}

.add-item-top {
    margin: 15px 0 10px;
    display: flex;
    justify-content: space-between;
}

.add-item-top p {
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    color: #193651;
}

.btn-remove, .btn-remove:hover {
    font-weight: 400;
    font-size: 15px;
    color: #CF3131;
    line-height: 0;
}

.btn-color, .btn-color:hover, .btn-color:active {
    background: transparent;
    border: none;
    color: #3083DC;
    font-size: 16px;
    line-height: 0;
    display: flex;
    align-items: center;
}

.btn-remove svg, .btn-color svg {
    margin-right: 5px;
}

.radio-content {
    padding: 0 0 60px;
}

.radio-content-in {
    padding-bottom: 30px;
}


.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    width: 2rem;
}

.react-datepicker__triangle {
    left: -8px !important;
}

.create-operation .block, .operation .block {
    padding: 30px 20px 50px;
}

.create-operation .table-striped {
    padding: 20px 0;
}

.create-operation textarea.form-control {
    height: 100px;
}

.create-operation textarea.form-control.resize {
    resize: none;
    height: 60px;
}

.create-operation .btn-block button {
    width: 150px;
}

.create-operation .btn-block {
    margin-top: 60px;
}

.operation-tab .nav-tabs {
    border: none;
    display: none;
    margin: 0;
}

.create-operation .block-title {
    padding-top: 10px;
    font-size: 16px;
}

.btn-export, .btn-export:focus, .btn-export:hover, .table .btn-block .btn-confirm, .table .btn-block .btn-cancel {
    background: rgba(25, 54, 81, 0.05);
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table .btn-block {
    width: 38%;
}

.table .btn-block .btn-confirm, .table .btn-block .btn-confirm:hover, .table .btn-block .btn-confirm:focus {
    background: rgba(46, 208, 106, 0.08);
}

.table .btn-block .btn-cancel, .table .btn-block .btn-cancel:hover, .table .btn-block .btn-cancel:focus {
    background: rgba(207, 49, 49, 0.08);
}

.btn-block li:not(:last-child) {
    margin-right: 20px;
}

.operation .title-block button svg {
    margin-right: 10px;
}

.operation .table {
    table-layout: fixed;
}

.operation .table th:first-child {
    width: 120px;
}

.operation .table th:nth-child(3) {
    width: 200px;
}

.view .card {
    border-color: rgba(196, 196, 196, 0.29);
    border-width: 1px 0 0 0;
    padding: 20px 40px 0;
    border-radius: 0;
}

.view .card-item {
    margin-bottom: 20px;
}

.view .card-text, .view .card-title {
    font-weight: 300;
    font-size: 16px;
    color: #181818;
    width: 75%;
    text-align: left;
}

.view .card-title {
    font-weight: 600;
    opacity: 0.6;
    width: 35%;
    margin: 0;
}

.view .block-title {
    margin: 0;
    padding: 0 40px 10px;
}

.view .upload-img {
    border-radius: 6px;
    width: 90px;
    height: 85px;
    border: none;
}

.view .view-top {
    padding: 20px 40px 20px;
}

.view-top .btn-border, .view-top .btn-border:focus {
    border: 1px solid rgba(48, 131, 220, .15);
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: rgba(48, 131, 220, .8);
    width: 145px;
    background-color: transparent;
}

.spinner-border-sm {
    width: 1.5rem;
    height: 1.5rem;
    border-width: .2em;
}

.loading-indicator {
    background: rgba(255, 255, 255, 0.58);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-indicator span {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #193651;
}

.view .user-data .user-name, .view .user-data .user-position, .view .user-data .user-department {
    font-size: 16px;
    line-height: 20px;
    color: #193651;
    margin-bottom: 8px;
    text-align: left;
}

.view .user-data .user-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.view .user-data .user-department {
    opacity: 0.8;
}

.view .user-data {
    margin-left: 35px;
}

.pending, .cancelled, .confirmed, .done {
    background: rgba(250, 158, 50, 0.1);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FA9E32;
    opacity: 0.9;
    width: 129px;
    height: 26px;
    justify-content: center;
}

.cancelled {
    background: rgba(24, 24, 24, 0.1);
    color: rgba(24, 24, 24, 0.5);
}

.done {
    background: rgba(48, 131, 220, 0.1);
    color: rgba(48, 131, 200, .9);
}

.confirmed {
    background: rgba(46, 208, 106, 0.1);
    color: rgba(46, 208, 106, .9);
}

.btn-cancel, .btn-cancel:hover, .btn-cancel:focus {
    color: #CF3131;
}

.btn-confirm, .btn-confirm:hover, .btn-confirm:focus {
    color: #2ED06A;
}

.swal2-container.swal2-center > .swal2-popup {
    padding: 25px 30px 40px;
}

.swal2-styled.swal2-cancel, .swal2-styled.swal2-confirm {
    background: transparent;
    font-size: 18px;
    color: #2ED06A;
    border: 1px solid #2ED06A;
    width: 125px;
    border-radius: 4px;
}

.swal2-icon {
    /*    width: 62px;
        height: 62px;*/
    margin: 10px auto 10px;
}

/*.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left] {
    left: 17px;}

.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    top: 30px;
    width: 29px;
    height: 4px;;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right] {
    right: 17px;
}*/

.swal2-actions:not(.swal2-loading) .swal2-styled:hover {
    background-image: none;
}

.swal2-styled.swal2-confirm:focus, .swal2-styled.swal2-cancel:focus {
    box-shadow: none;
}

.swal2-styled.swal2-confirm, .swal2-styled.swal2-confirm:hover {
    color: #fff;
}

.swal2-container.swal2-center > .swal2-popup {
    padding: 30px;
    width: 24em;
}

.loading-block {
    height: calc(100vh - 175px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-block .spinner-border {
    width: 3rem;
    height: 3rem;
    border: .25em solid rgba(24, 24, 24, .4);
    border-right-color: transparent;
}

.break-line {
    display: block;
    margin: 10px;
}

.break-line:after {
    content: '';
    display: block;
    width: 21px;
    height: 1px;
    background: #A7A7A7;
}

.calendar .fc-theme-standard .fc-scrollgrid {
    border: none;
}

.calendar .fc .fc-toolbar-title {
    font-size: 20px;
}

.staff-salary .block {
    overflow-x: scroll;
}

.staff-salary .table.active {
    opacity: .4;
}

.staff-salary .btn-main {
    width: 140px;
}

.staff-salary .block::-webkit-scrollbar {
    height: 6px;
}

.staff-salary .block::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
}

.staff-salary .table > :not(caption) > * > *, .staff-salary th {
    padding: 20px !important;
}

.staff-salary th {
    position: sticky;
    top: 0;
}

.staff-salary th > .operation-name {
    width: 125px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.staff-id {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #0a58ca;
}

.calendar .fc .fc-button-primary {
    background-color: transparent;
    padding: 5px;
    border: none;
    box-shadow: none !important;
}

.calendar .fc .fc-button-primary:not(:disabled):active, .calendar .fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #fff;
}

.calendar .fc .fc-button .fc-icon {
    font-size: 26px;
    color: #3083dc;
}

.calendar .fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
    margin-right: 5px;
}

.calendar .fc .fc-button-group > .fc-button:hover {
    background: rgba(48, 131, 220, .8);
}

.calendar .fc .fc-button-group > .fc-button:hover .fc-icon {
    color: #fff;
}

.calendar .fc .fc-button-primary.fc-today-button {
    color: #3083dc;
    background: #fff;
    width: 90px;
    font-size: 16px;
    font-weight: 500;
}

.calendar .fc .fc-scrollgrid-liquid {
    height: 55%;
}

.calendar th.fc-col-header-cell:first-child {
    border-top-left-radius: 6px;
}

.calendar th.fc-col-header-cell:last-child {
    border-top-right-radius: 6px;
}

.calendar .fc-col-header th {
    background-color: rgba(48, 131, 220, .08);
    padding: 15px !important;
    opacity: 1;
}

.calendar .fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: rgba(48, 131, 220, .9);
}

.calendar .fc-theme-standard .fc-scrollgrid-section-body td {
    background-color: #fff;
}

.calendar .fc .fc-daygrid-day-frame {
    padding: 12px;
}

.calendar .fc .fc-daygrid-day-number {
    padding: 0;
    color: rgba(25, 54, 81, 0.9);
    font-size: 16px;
    font-weight: 500;
}

.calendar .fc-theme-standard td {
    border: 1px solid rgba(25, 54, 81, 0.1);
}

.calendar .fc-theme-standard th {
    border: none;
    padding: 0;
}

.calendar .fc-theme-standard .fc-scrollgrid-section-body .fc-day-sat, .calendar .fc-theme-standard .fc-scrollgrid-section-body .fc-day-sun {
    background-color: rgba(247, 247, 247, .7);
}

.calendar .fc .fc-bg-event {
    background-color: rgba(207, 49, 49, .15);
    opacity: 1;
    display: flex;
    align-items: self-end;
    width: 100%;
    justify-content: flex-end;
    padding: 12px;
}

.calendar .fc .fc-bg-event:before {
    content: '';
    height: 100%;
    width: 4px;
    background: rgba(207, 49, 49, .9);
    left: 0;
    position: absolute;
    bottom: 0;
}

.calendar .fc .fc-daygrid-day.fc-day-today {
    background-color: rgba(46, 208, 106, 0.08);
}

.calendar .fc .fc-day-disabled {
    border: none;
}

.calendar .fc .fc-bg-event .fc-event-title {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #193651;
    margin: 0;
}

.modal-sure .modal-body {
    padding: 40px 20px;
}

.modal-sure h4 {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #193651;
    margin-bottom: 40px;
}

.modal-sure.modal-calendar h4 {
    text-align: left;
    opacity: 0.7;
    font-size: 24px;
}

.modal-sure .btn-block li:not(:last-child) {
    margin-right: 15px;
}

.setting .nav-tabs {
    display: flex;
    flex-wrap: nowrap;
}

.setting .nav-tabs .nav-link, .setting .nav-item {
    width: 100%;
}

.setting .nav-tabs .nav-link {
    margin-right: 0;
}

.setting .block {
    padding: 30px 60px;
}

.setting .dropdown .dropdown-toggle, .setting .dropdown .dropdown-toggle:active, .setting .dropdown .dropdown-toggle:active:focus {
    background: #FAFCFF;
    border: 1px solid rgba(4, 6, 71, 0.1);
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
    color: #181818;
    text-align: left;
    height: 44px;
    padding: 10px 20px;
}

.setting .dropdown .dropdown-toggle.active {
    background: rgba(46, 208, 106, 0.06);
    border: 1px solid rgba(46, 208, 106, 0.15);
}

.setting .dropdown-menu.show {
    display: block;
    width: 100%;
    padding: 0;
    max-height: 220px;
    overflow-y: scroll;
}

.setting .dropdown-item {
    font-size: 16px;
    padding: 10px 20px;
    text-align: left;
    position: relative;
    color: #181818;
}

.setting .dropdown-item .btn-delete {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.setting .dropdown-item .btn-delete svg {
    margin: 0;
}

.setting .block-title {
    margin-bottom: 6px;
}

.setting .addition {
    margin-top: 20px;
}

.setting .btn-color {
    margin: 8px 0 0;
    font-weight: 500;
}

.setting .addition .btn-transparent {
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #193651;
}

.setting .block-inn {
    margin-bottom: 30px;
}

.check-block-list {
    padding: 10px 0;
}

.filter-block .block {
    margin-bottom: 15px;
    min-height: auto;
    padding: 15px;
    align-items: flex-end;
    overflow-x: unset;
}

.filter-block .filter-left {
    display: flex;
    width: calc(100% - 120px);
    justify-content: flex-start;
}

.filter-block .btn-border, .filter-block .btn-border:focus, .filter-block .btn-border:not(:disabled):not(.disabled):active {
    width: 120px;
    border: 1px solid rgba(48, 131, 220, .8);
    color: rgba(48, 131, 220, .8);
}

.filter-block .filter-item {
    width: 200px;
    margin-right: 20px;
}

.empty-data {
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    width: 100%;
}

.empty-in {
    flex-direction: column;
}

.empty-in span {
    font-size: 18px;
    line-height: 23px;
    color: #193651;
    opacity: 0.7;
    display: inline-block;
}

.tooltip-inner {
    max-width: 275px;
    text-align: left;
    background-color: #7e8d9a;
}

.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before, .bs-tooltip-top .tooltip-arrow::before {
    top: -1px;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: #7e8d9a;
    left: -2px;
}

.table-striped {
    padding: 20px;
    margin: 0;
}

.table-striped .table th {
    background: rgba(48, 131, 220, 0.08);
    font-weight: 500;
    padding: 11px 20px;
    color: #3083DC;
    text-align: center;
    opacity: 1;
    border: 1px solid rgba(4, 6, 71, 0.04);
}

.table-striped td {
    color: #181818;
    border: 1px solid rgba(4, 6, 71, 0.04);
    text-align: center;
    font-size: 14px;
}

.inner-tab .nav-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 0;
    border: none;
}

.inner-tab .nav-tabs li:first-child .nav-link {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.inner-tab .nav-tabs li:last-child .nav-link {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.inner-tab .nav-tabs .nav-link {
    border: none;
    background: rgba(48, 131, 220, 0.1);
    margin: 0;
    width: 150px;
    color: #3083DC;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0;
}

.inner-tab .nav-tabs .nav-item.show .nav-link, .inner-tab .nav-tabs .nav-link.active {
    color: #3083DC;
    font-weight: 500;
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(166, 166, 166, .16);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.date-title {
    display: flex;
    align-items: flex-start;
    color: rgba(24, 24, 24, 0.9);
    font-size: 16px;
    margin-right: 40px;
}

.date-title span {
    font-weight: 500;
}

.react-time-picker__inputGroup {
    text-align: left;
}

.react-time-picker__button {
    padding: 0;
}

.react-time-picker__button:not(:last-child) {
    padding-right: 5px;
}

@media only screen and (min-width: 1600px) {
    .export-block {
        width: 80%;
    }
}

@media only screen and (max-width: 1300px) {
    .nav-tabs .nav-link {
        font-size: 15px;
        margin-right: 30px;
    }

    .operation .table {
        table-layout: unset;
    }

    .operation .operation-name {
        width: 200px;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

@media (min-width: 992px) {
    .modal-sure .modal-md {
        max-width: 450px;
    }
}

@media (min-height: 700px) {
    .staff-salary .table-responsive-sm {
        height: 700px;
    }
}

@media (max-height: 700px) {
    .staff-salary .table-responsive-sm {
        height: 500px;
    }
}

